<div class="about-kyle-top">
  <div class="kyle-card">
    <img src="./public/images/kyle4.jpg" />
  </div>
  <div class="kyle-card">
    <p>In addition to building Evans Woodshop and the cool things you see for sale, I also built this site from the ground up.</p>

     <p>I've long wanted to learn how to code, so recently I completed a 4 month bootcamp that covered full-stack web development. This site is one of the projects that I worked on and is built using the Angular framework.</p>

     <p>While it is "done", I continue to work to add new features and improve the overall look and feel. So it will probably never be 100% complete. If you have any comments or suggestions, definitely let me know.</p>

     <p>You can see some of my other projects by visiting my personal site <a href="http://www.kylelarryevans.com/"> kylelarryevans.com</a> or checking me out on <a href="https://github.com/kevans12">Github</a>.</p>
  </div>
</div>
