<div class="about-shop-sections">
  <div class="shop-card">
    <img src="../public/images/process2.jpg" />
  </div>
  <div class="shop-card">
   <br /><p>It all starts with the raw lumber. We have a couple different places we source form, depending on the size of board we need. </p>
   <p>Fortunately we have several places nearby that sell large boards (for rolling pins) and small pieces (for shaving sets).</p>
  </div>
</div>

<div class="about-shop-sections">
  <div class="shop-card">
    <img src="../public/images/process3.jpg" />
  </div>
  <div class="shop-card">
   <br /><p>Once we have the boards, we cut them down to the right size. </p>
   <p>Larger boards are ripped down on the table saw, while smaller ones we'll take over to the band saw.</p>
  </div>
</div>

<div class="about-shop-sections">
  <div class="shop-card">
    <img src="../public/images/process4.jpg" />
  </div>
  <div class="shop-card">
   <br /><p>You can see here, this is what looks like when we've got a board cut down to the right size for rolling pins. </p>
   <p>These ones are ready to be put on the lathe and turned into rolling pins.</p>
  </div>
</div>

<div class="about-shop-sections">
  <div class="shop-card">
    <img src="../public/images/process5.jpg" />
  </div>
  <div class="shop-card">
   <br /><p>Once we've cut them down, it's time to get them up on the lathe. </p>
   <p>Whether it's a large rolling pin or a small shaving stand, each item is handturned until it is just right.</p>
  </div>
</div>
