<div class="about-photo">
 <p class="HC">
   About Us
 </p>
 <p class="aboutpic-text">
  Evans Woodshop is a small woodworking shop located in Farmington, Utah. We specialize in woodturning and other handcrafted wood items. Each item is individually crafted and finished right here. It's a time consuming process, but we think you'll agree that the end result is worth it.
 </p>
</div>
<!-- <div class="about-story">
  <div class="left">
   <h2>About Kyle</h2>
   <p>Woodworking runs in the family. My dad has long been a craftsman, and I'm continually inspired by him. Keep reading...</p>
   <img src="../public/images/kyle.jpg" />
  </div>
  <div class="right">
   <h2>Building the Shop</h2>
    <p> We've literally built Evans Woodshop from the ground up. Read more here and see the pictures.</p>
   <br />
   <img src="http://www.evanswoodshop.com/uploads/2/1/5/5/21556306/6722995_orig.jpg" />
  </div>
</div> -->
<div class="about-cards">

<div class="products">
<section class="product-container">
  <a ui-sref="aboutKyle">
  <section class="about-card" >
      <div class="image-container">
        <img src="../public/images/kyle2.jpg" alt="kyle">
      </div>
      <div class="product-bottom">
          <h4> About Kyle </h4>
          <p>Woodworking runs in the family. My dad has long been a craftsman, and I'm continually inspired by him. <br />More...</p>
      </div>
  </section>
  </a>
</section>
<section class="product-container">
  <a ui-sref="aboutShop">
  <section class="about-card" >
      <div class="image-container">
        <img src="../public/images/shop4.jpg" alt="woodshop">
      </div>
      <div class="product-bottom">
          <h4> Building the Shop </h4>
          <p>We've literally built Evans Woodshop from the ground up. Read more here and see the pictures.<br />More...</p>
      </div>
  </section>
</a>
</section>
<section class="product-container">
  <a ui-sref="aboutProcess">
  <section class="about-card" >
      <div class="image-container">
        <img src="../public/images/bandsawpic.jpg" alt="woodshop">
      </div>
      <div class="product-bottom">
          <h4> The Process </h4>
          <p>Each item is carefully handcrafted. Check out some of the process here. <br />More...</p>
      </div>
  </section>
</a>
</section>
<section class="product-container">
  <a ui-sref="aboutSite">
  <section class="about-card" >
      <div class="image-container">
        <img src="../public/images/lathe.jpg" alt="woodshop">
      </div>
      <div class="product-bottom">
          <h4> This Site </h4>
          <p>In addition to making the woodshop, I also built this site from the ground up. <br />More...</p>
      </div>
  </section>
</a>
</section>
<!-- <section class="product-container">
  <section class="about-card" >
      <div class="image-container">
        <img src="../public/images/walnutshave.jpg" alt="woodshop">
      </div>
      <div class="product-bottom">
          <h4> Creating a Shaving Set </h4>
          <p>Our shaving sets are some of our most popular. Learn more about them here. <br />More...</p>
      </div>
  </section>
</section> -->

</div>

</div>

<div class="video-feed">
  <h2>Timelapse Video</h2>
  <iframe

  src="https://www.youtube.com/embed/JSehF5aXnAg" frameborder="0" allowfullscreen></iframe>
</div>
