<div class="about-kyle-top">
  <div class="kyle-card">
    <img src="./public/images/kyle4.jpg" />
  </div>
  <div class="kyle-card">
    <p>Woodworking runs in the family. My dad has long been a craftsman, having built many of the pieces of furniture we had growing up.</p>

     <p>While always interested in woodworking, I really caught the bug several years ago and also began building furniture and home decor, as well as creating other household items, from cutting boards to ice cream scoops.</p>

     <p>The hobby soon took over the entire garage and had to be moved to its own space. So we built a small shop in order to house all the tools and projects. And we've just been expanding since then.</p>

     <p>I hope you enjoy looking around our shop. We love creating these items and take a great deal of pride in their craftsmanship and design. I know you'll love owning/giving them as gifts just as much as I love creating them.</p>
  </div>
</div>
