<div class="about-shop-sections">
  <div class="shop-card">
    <img src="../public/images/shop-building1.jpg" />
  </div>
  <div class="shop-card">
   <p>This woodworking hobby started out small, as so many hobbies do. And I was fine with a corner of the garage. </p>
   <p>But the tools and projects quickly overtook everything, and the cars were soon relegated to being outside. </p>
   <p>So we had to come up with a different solution. Of course, that was building a dedicated shop.</p>
  </div>
</div>
<div class="about-shop-sections">
  <div class="shop-card">
    <img src="../public/images/shop-building2.jpg" />
  </div>
  <div class="shop-card">
    <img src="../public/images/shop-building3.jpg" />
  </div>
</div>
<div class="about-shop-sections">
  <div class="shop-card">
    <img src="../public/images/shop-building4.jpg" />
  </div>
  <div class="shop-card">
   <p>So we drew up the plans, ordered the materials, and got to work. </p>
   <p>My dad and I framed up the shop, roofed it and put on some siding. So not only is it a great shop, it looks great next to our house. </p>
   <p>And with that, everything moved to its new home. And kept growing from there. It seemed big at the time, but now we wouldn't mind adding an addition to double the size...</p>
  </div>
</div>
<div class="about-shop-sections">
  <div class="shop-card">
    <img src="../public/images/shop-building5.jpg" />
  </div>
  <div class="shop-card">
    <img src="../public/images/shop-building6.jpg" />
  </div>
</div>
