<div class="home-photo">
 <p class="HC">
   Handcrafted &amp;
   One-of-a-Kind
 </p>
 <p class="homepic-text">
  We create unique, one-of-a-kind items in our woodshop. We love creating these items and take a great deal of pride in their craftsmanship and design. We know you'll love owning/giving them as gifts just as much as we love creating them.
 </p>
</div>
<div id="slideshow">
 <div>
  <img src="http://www.evanswoodshop.com/uploads/2/1/5/5/21556306/9533174_orig.jpg">
 </div>
 <div>
  <img src="http://www.evanswoodshop.com/uploads/2/1/5/5/21556306/843938_orig.jpg">
 </div>
<div>
  <img src="http://www.evanswoodshop.com/uploads/2/1/5/5/21556306/9482275_orig.jpg">
</div>
 <div>
   <img src="https://img0.etsystatic.com/140/1/9886064/il_570xN.960289678_5p7z.jpg" />
 </div>
</div>
<div class="line"> </div>
<div class="home-story">
<div class="left">
 <h2>Etsy Shop</h2>
 <p>
   Looking for the perfect gift? Whether it's a holiday or just a little something for yourself, check out our full selection for purchase on Etsy. Your perfect gift awaits.
 </p>
 <img src="http://www.evanswoodshop.com/uploads/2/1/5/5/21556306/825809.jpg?319" />
</div>
<div class="right">
 <h2>Our Story</h2>
 <p>
   We've literally built Evans Woodshop from the ground up. It continues to be quite the fun ride, so hopefully you'll come along with us.
 </p>
 <br />
 <img src="http://www.evanswoodshop.com/uploads/2/1/5/5/21556306/6722995_orig.jpg" />
</div>
</div>
