<div class="home-photo">
 <p class="HC">
   Handcrafted &amp;
   One-of-a-Kind
 </p>
 <p class="homepic-text">
  We create unique, one-of-a-kind items in our woodshop. We love creating these items and take a great deal of pride in their craftsmanship and design. We know you'll love owning/giving them as gifts just as much as we love creating them.
 </p>
</div>
<!-- home products grid -->
<div class="home-products-grid">
  <div class="home-products-top-row">
    <div><a ui-sref="shavingDB"><img src="../public/images/blue-stand.jpg" /><span>Check out more of our shaving stands</span></a ui-sref></div>
    <div><a ui-sref="shavingDB"><img src="../public/images/cherry-board.jpg" /><span>Check out more of our cutting boards</span></a ui-sref></div>
    <div><a ui-sref="shavingDB"><img src="../public/images/birdseye.jpg" /><span>Check out more of our shaving sets</span></a ui-sref></div>
  </div>
  <div class="home-products-bottom-row">
    <div><a ui-sref="shavingDB"><img src="../public/images/frenchwalnutpin.jpg" /><span>Check out more of our handmade, solid wood rolling pins</span></a ui-sref></div>
    <div><a ui-sref="shavingDB"><img src="../public/images/spalted.jpg" /><span>Check out more of our shaving sets</span></a ui-sref></div>
    <div><a ui-sref="shavingDB"><img src="../public/images/maplepin.jpg" /><span>Check out more of our handmade, solid wood rolling pins</span></a ui-sref></div>
  </div>
</div>
<div class="line"> </div>
<!-- end of home products grid -->
<div class="slideshow-social">
 <div class="slidshow">
  <div id="slideshow">
   <div><img src="http://www.evanswoodshop.com/uploads/2/1/5/5/21556306/9533174_orig.jpg"></div>
   <div><img src="http://www.evanswoodshop.com/uploads/2/1/5/5/21556306/843938_orig.jpg"></div>
   <div><img src="http://www.evanswoodshop.com/uploads/2/1/5/5/21556306/9482275_orig.jpg"></div>
   <div><img src="https://img0.etsystatic.com/140/1/9886064/il_570xN.960289678_5p7z.jpg" /></div>
  </div>
 </div>
 <div class="social">
   <h2>Let's get social</h2>
   <div class="social-icons">
   <div><a href="https://www.facebook.com/evanswoodshop/"><img src="../public/images/square-facebook.png" /></a></div>
   <div><a href="https://www.instagram.com/evanswoodshop/"><img src="../public/images/square-instagram.png" /></a></div>
   <div><a href="https://www.twitter.com/evanswoodshop"><img src="../public/images/square-twitter.png" /></a></div>
   <div><a href="https://www.pinterest.com/evanswoodshop/"><img src="../public/images/square-pinterest.png" /></a></div>
  </div>
 </div>
</div>
<div class="line"> </div>
<div class="home-story">
  <div class="left">
   <h2>Etsy Shop</h2>
   <p>
     Looking for the perfect gift? Whether it's a holiday or just a little something for yourself, check out our full selection for purchase on Etsy. Your perfect gift awaits.
   </p>
   <img src="http://www.evanswoodshop.com/uploads/2/1/5/5/21556306/825809.jpg?319" />
  </div>
  <div class="right">
   <h2>Our Story</h2>
   <p>
     We've literally built Evans Woodshop from the ground up. It continues to be quite the fun ride, so hopefully you'll come along with us.
   </p>
   <br />
   <img src="http://www.evanswoodshop.com/uploads/2/1/5/5/21556306/6722995_orig.jpg" />
  </div>
 </div>
 <div class="picture-feed">
   <h2>In the Shop</h2>
   <div class="pics">
     <div><img src="../public/images/working1.jpg" /></div>
     <div><img src="../public/images/working2.jpg" /></div>
     <div><img src="../public/images/working3.jpg" /></div>
     <div><img src="../public/images/working4.jpg" /></div>
  </div>
 </div>
