<div class="banner"><img src="./public/images/EvansWoodshop_small.jpg" /> </div>
<div class="products">
  <section class="product-container" ng-repeat="pin in pinInfo">
   <a ui-sref="specProdfromServ({prodID: pin.id})">
    <section class="product-card" >
        <div class="image-container">
          <img src={{pin.image}} alt="{{pin.name}}">
        </div>
        <div class="product-bottom">
            <h4> {{pin.name}} </h4>
            <h5>{{pin.price | currency}}</h5>
        </div>
    </section>
  </a>
 </section>
 </div>
