.about-photo {
  background: url('../images/bandsawpic.jpg') no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.about-photo p {
  text-align: center;
  width: 50%;
  color: white;
  margin: 0 auto;
}
.aboutpic-text {font-size: 1.2em}

/***************************about*******************************/
.about-story {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px 0px;
}
.about-story .left {
  float: left;
  height: auto;
  width: 40%;
  margin: 5px;
}
.about-story .left img {
  max-width: 90%;

}
.about-story .right {
  float: right;
  height: auto;
  width: 40%;
  margin: 5px;
}
.about-story .right img {
  max-width: 90%;

}

.line {
  width: 100%;
  margin: auto;
  background-color: #D3D3D3;
  height: 2px;
  margin-top: 5px;
}

/***************************about cards*******************************/
.products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.about-card {
  width: 350px;
  border: 1pt solid #D3D3D3;
  margin: 5px;
}
.product-container a:link {
  text-decoration: none;
}
a.product-container:hover {
  color: pink;
}
.image-container {
  width: 100%;
}
.image-container img {
  max-width: 100%;
}
.product-bottom {
  padding: 4px;
}
h5 {
  color: #28A416
}
h4{
  color: #383D38
}

.video-feed {
  width: 100%;
  height: 400px;
  position: relative;
  margin: 10px 0px;
  align-items: center;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
}
.video-feed::after {
  content: "";
  background: url('../images/wood-bg2.jpg');
  background-size: cover;
  opacity: 0.20;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.video-feed h2 {
  font-family: 'Permanent Marker', cursive;
}
.video-feed iframe {
  justify-content: center;
  margin-bottom: 20px;
  width: 560px;
  height: 315px;
}
@media(max-width: 560px) {
  .video-feed iframe {
    width: 336px;
    height: 189px;
  }
}

/***************************about Kyle*******************************/
.about-kyle-top {
  margin: 10px;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.kyle-card {
  width: 300px;
  margin: 5px 20px;
}
.kyle-card img {
  width: 100%;
}

/***************************about shop*******************************/
.about-shop-sections {
  margin: 10px;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.shop-card {
  width: 350px;
  margin: 5px 20px;
}
.shop-card img {
  width: 100%;
}
