.contact-intro {
  padding: 10px;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  width: 80%;
  margin: auto;
  /*background-color: white;
  border-radius: 4px;
  opacity: .8;*/
}
.contact h2 {
  margin: auto;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  color: white;
}
.contact-button {
  margin: 10 auto;
  width: 180px;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  text-decoration: none;
  outline: none;
  text-align: center;
  color: #b20000;
  font-weight: bold;
  margin-bottom: 20px;
}
.contact-button:hover {
  background-color: #b20000;
  color: white;
}
.social-icons-contact {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}
.social-icons-contact > div {
  margin: 10px;
}
.social-icons-contact img {
  width: 90px;
  height: auto;
}
.social-icons-contact img:hover {
 transform: scale(1.05);
}








.contactForm{
    /* Just to center the form on the page */
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 450px;
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
.contactFormField {
    margin-top: 1em;
    margin-bottom: 1em;
}
.contactFormField label {
    /* To make sure that all labels have the same size and are properly aligned */
    display: inline-block;
    width: 90px;
    text-align: right;
}
.contactFormField input, textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* To give the same size to all text field */
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
}
.contactFormField input:focus, textarea:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
}
.contactFormField textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;

    /* To give enough room to type some text */
    height: 5em;

    /* To allow users to resize any textarea vertically
       It does not work on all browsers */
    resize: vertical;
}
.contactButton {
    /* To position the buttons to the same position of the text fields */
    padding-left: 90px; /* same size as the label elements */
    margin-top: 1em;
}
.contactForm button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
}
.submitButton{
  align-items: center;
  margin: auto;
  padding-left: 45%;
}
.enterCode{
  margin: auto;
  padding-left: 15%;
}
.thanksMessage {
  margin: 5px;
  padding: 5px;
}

@media(max-width: 450px) {
  .contactForm {
    width: 350px;
  }
  .contactFormField input, textarea {
      width: 200px;
    }
    .submitButton{
      padding-left: 40%;
    }
    .enterCode{
      margin: auto;
      padding-left: 10px;
    }
}
