* {
  box-sizing: border-box;
}
/*.banner {
  background: url('../images/EvansWoodshop_small.jpg') no-repeat;
  background-size:contain;
  width: 100%
  margin: auto;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}*/
.banner img {
  display: block;
  margin: auto;
  max-width: 100%;
}
.products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.product-card {
  width: 300px;
  border: 1pt solid #D3D3D3;
  margin: 5px;
}
/*.product-container a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}*/
.image-container {
  width: 100%;
}
.image-container img {
  max-width: 100%;
}
.product-bottom {
  padding: 4px;
}
h5 {
  color: #28A416
}
h4{
  color: #383D38
}
